@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	/* line-height: 1.5; */
	/* font-weight: 400;  */
	background-color: #0b0c0f;
<<<<<<< HEAD
=======
}

html {
	scroll-behavior: smooth; /* Ensure smooth scrolling */
>>>>>>> dynamic-navbar-menu
}
