@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	/* line-height: 1.5; */
	/* font-weight: 400;  */
	background-color: #0b0c0f;
}

html {
	scroll-behavior: smooth; /* Ensure smooth scrolling */
}

/* Obsługa bezpiecznych obszarów dla mobilnych przeglądarek, szczególnie Safari */
body {
	padding-top: env(safe-area-inset-top);
	padding-bottom: env(safe-area-inset-bottom);
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
}

/* Obsługa Dynamic Viewport Height */
.safe-area-inset {
	height: 100vh; /* Fallback dla starszych przeglądarek */
	height: 100dvh; /* Dynamic viewport height dla nowszych przeglądarek */
}
